.profile-container  {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
 
.action-container,
.mood-container,
.journal-container {
    width: 0;
    height: 0;
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 17rem solid #3498db;
    margin: 5rem;
    
}

.title-action,
.title-mood,
.title-journal {
    font-size: 1.3rem;
    justify-self: center;
  
}

