body {
    background-color:  #B8B4A1;
}

.profile-container  {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
 
.action-container,
.mood-container,
.journal-container {
    width: 15rem;
    height: 24rem;
    border: 2px solid black;
    border-radius: 10px;
    border: none;
    margin: 5rem;
    background-color: transparent;
    
}

.title-profile {
    font-size: 1.3rem;
    text-align: -webkit-center;
    justify-self: center;
    margin-top: 8rem;
    color: black;
    border: 2px solid transparent;
    height: 15rem;
    height: 15rem;
    width: 13rem;
}

.link-profile {
    text-decoration: none;
}   
